.add-service form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 40%;
  margin: auto;
}
.btn {
  background-color: lightcoral;
  color: aliceblue;
  font-size: 20px;
}
.btn:hover {
  background-color: rgb(207, 243, 255);
  border: 1px solid lightcoral;
}
